In [1]:
import pandas as pd
import glob
import os
from json import loads, dumps
import json




path = '/home/krupesh/Documents/python scripts/nba data files/nbadatafiles/' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

dfall = pd.concat(li, axis=0, ignore_index=True)

In [2]:
dfall['GAME_DATE']=dfall['GAME_DATE'].apply(pd.to_datetime)

In [3]:
dfallsort=dfall.sort_values(by=['GAME_DATE','GAME_ID']).reset_index(drop=True)

In [4]:
dfgamenum = dfallsort.copy()

In [5]:
dfgamenum['GAME_NO']=dfgamenum.groupby(['TEAM_ID'])['GAME_DATE'].cumcount() + 1

In [6]:
dfgamenum=dfgamenum.copy()
dfdata=dfgamenum

In [7]:
offptsvar = dfdata.groupby('TEAM_ID')['PTS'].expanding().sum().reset_index(0,drop=True)
offposvar = dfdata.groupby('TEAM_ID')['POSS'].expanding().sum().reset_index(0,drop=True)

defptsvar = dfdata.groupby('TEAM_ID')['OPP_PTS'].expanding().sum().reset_index(0,drop=True)
defposvar = dfdata.groupby('TEAM_ID')['OPP_POSS'].expanding().sum().reset_index(0,drop=True)

In [8]:
dfdata['STD_OFF_RATING']=(offptsvar/offposvar)*100
dfdata['STD_OFF_RATING']=dfdata['STD_OFF_RATING'].round(1)

dfdata['STD_DEF_RATING']=(defptsvar/defposvar)*100
dfdata['STD_DEF_RATING']=dfdata['STD_DEF_RATING'].round(1)

In [9]:
dfdataatl=dfdata[dfdata['TEAM_CITY']=="Atlanta"]
dfdataatl

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,PTS,OPP_TEAM_ID,OPP_PTS,OPP_POSS,OPP_TEAM_NAME,OPP_TEAM_ABBERVIATION,OPP_TEAM_CITY,GAME_NO,STD_OFF_RATING,STD_DEF_RATING
7,22400064,1610612737,Hawks,ATL,Atlanta,240.000000:00,115.1,114.3,106.4,110.5,...,120,1610612751,116,105,Nets,BKN,Brooklyn,1,114.3,110.5
37,22400079,1610612737,Hawks,ATL,Atlanta,240.000000:00,119.4,119.0,113.6,116.5,...,125,1610612766,120,103,Hornets,CHA,Charlotte,2,116.7,113.5
78,22400100,1610612737,Hawks,ATL,Atlanta,240.000000:00,97.4,103.0,125.4,125.5,...,104,1610612760,128,102,Thunder,OKC,Oklahoma City,3,112.2,117.4
84,22400103,1610612737,Hawks,ATL,Atlanta,240.000000:00,111.4,112.3,110.3,115.2,...,119,1610612764,121,105,Wizards,WAS,Washington,4,112.2,116.9
121,22400121,1610612737,Hawks,ATL,Atlanta,240.000000:00,109.8,113.2,120.9,125.5,...,120,1610612764,133,106,Wizards,WAS,Washington,5,112.4,118.6
148,22400135,1610612737,Hawks,ATL,Atlanta,240.000000:00,109.6,110.6,115.8,118.3,...,115,1610612758,123,104,Kings,SAC,Sacramento,6,112.1,118.6
183,22400152,1610612737,Hawks,ATL,Atlanta,240.000000:00,126.9,128.6,112.3,113.3,...,126,1610612740,111,98,Pelicans,NOP,New Orleans,7,114.3,117.8
193,22400157,1610612737,Hawks,ATL,Atlanta,240.000000:00,86.1,87.7,115.3,117.1,...,93,1610612738,123,105,Celtics,BOS,Boston,8,111.0,117.8
221,22400171,1610612737,Hawks,ATL,Atlanta,240.000000:00,119.0,122.2,116.5,116.0,...,121,1610612752,116,100,Knicks,NYK,New York,9,112.2,117.6
249,22400185,1610612737,Hawks,ATL,Atlanta,240.000000:00,109.9,113.1,111.3,115.1,...,121,1610612765,122,106,Pistons,DET,Detroit,10,112.2,117.3
274,22400198,1610612737,Hawks,ATL,Atlanta,240.000000:00,106.4,106.6,116.7,120.2,...,113,1610612741,125,104,Bulls,CHI,Chicago,11,111.7,117.6
313,22400001,1610612737,Hawks,ATL,Atlanta,240.000000:00,115.0,117.0,115.0,117.2,...,117,1610612738,116,99,Celtics,BOS,Boston,12,112.1,117.5
358,22400012,1610612737,Hawks,ATL,Atlanta,240.000000:00,115.0,114.2,99.0,103.5,...,129,1610612764,117,113,Wizards,WAS,Washington,13,112.3,116.4
396,22400239,1610612737,Hawks,ATL,Atlanta,240.000000:00,102.8,106.8,108.2,111.8,...,110,1610612757,114,102,Trail Blazers,POR,Portland,14,111.9,116.0
418,22400250,1610612737,Hawks,ATL,Atlanta,240.000000:00,110.2,112.4,106.6,109.1,...,109,1610612758,108,99,Kings,SAC,Sacramento,15,112.0,115.6
447,22400258,1610612737,Hawks,ATL,Atlanta,240.000000:00,86.9,86.6,104.4,107.1,...,97,1610612744,120,112,Warriors,GSW,Golden State,16,110.3,115.0
465,22400030,1610612737,Hawks,ATL,Atlanta,240.000000:00,108.6,111.9,124.5,125.9,...,122,1610612741,136,108,Bulls,CHI,Chicago,17,110.4,115.7
506,22400280,1610612737,Hawks,ATL,Atlanta,240.000000:00,105.3,105.3,115.5,115.2,...,119,1610612742,129,112,Mavericks,DAL,Dallas,18,110.1,115.7
530,22400287,1610612737,Hawks,ATL,Atlanta,240.000000:00,123.9,128.6,114.5,117.0,...,135,1610612739,124,106,Cavaliers,CLE,Cleveland,19,111.0,115.7
558,22400041,1610612737,Hawks,ATL,Atlanta,240.000000:00,112.6,113.6,98.6,98.1,...,117,1610612739,101,103,Cavaliers,CLE,Cleveland,20,111.2,114.9
577,22400300,1610612737,Hawks,ATL,Atlanta,240.000000:00,109.3,110.3,104.7,105.1,...,107,1610612766,104,99,Hornets,CHA,Charlotte,21,111.1,114.4
607,22400315,1610612737,Hawks,ATL,Atlanta,240.000000:00,110.9,117.0,103.2,105.7,...,124,1610612740,112,106,Pelicans,NOP,New Orleans,22,111.4,114.0
645,22400323,1610612737,Hawks,ATL,Atlanta,240.000000:00,107.5,114.4,100.6,100.0,...,119,1610612749,104,104,Bucks,MIL,Milwaukee,23,111.5,113.4
667,22400334,1610612737,Hawks,ATL,Atlanta,265.000000:00,115.8,116.5,114.7,115.8,...,134,1610612747,132,114,Lakers,LAL,Los Angeles,24,111.7,113.5
699,22400350,1610612737,Hawks,ATL,Atlanta,240.000000:00,104.8,103.7,125.3,131.8,...,111,1610612743,141,107,Nuggets,DEN,Denver,25,111.4,114.3
723,22401202,1610612737,Hawks,ATL,Atlanta,240.000000:00,106.1,108.0,97.5,101.0,...,108,1610612752,100,99,Knicks,NYK,New York,26,111.3,113.8

In [10]:
dfdata

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,PTS,OPP_TEAM_ID,OPP_PTS,OPP_POSS,OPP_TEAM_NAME,OPP_TEAM_ABBERVIATION,OPP_TEAM_CITY,GAME_NO,STD_OFF_RATING,STD_DEF_RATING
0,22400061,1610612752,Knicks,NYK,New York,240.000000:00,118.4,119.8,144.2,145.1,...,109,1610612738,132,91,Celtics,BOS,Boston,1,119.8,145.1
1,22400061,1610612738,Celtics,BOS,Boston,240.000000:00,144.2,145.1,118.4,119.8,...,132,1610612752,109,91,Knicks,NYK,New York,1,145.1,119.8
2,22400062,1610612747,Lakers,LAL,Los Angeles,240.000000:00,112.2,115.8,102.1,109.6,...,110,1610612750,103,94,Timberwolves,MIN,Minnesota,1,115.8,109.6
3,22400062,1610612750,Timberwolves,MIN,Minnesota,240.000000:00,102.1,109.6,112.2,115.8,...,103,1610612747,110,95,Lakers,LAL,Los Angeles,1,109.6,115.8
4,22400063,1610612754,Pacers,IND,Indiana,240.000000:00,112.7,113.9,106.5,110.1,...,115,1610612765,109,99,Pistons,DET,Detroit,1,113.9,110.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,22401205,1610612765,Pistons,DET,Detroit,240.000000:00,97.6,98.0,120.9,123.0,...,99,1610612738,123,100,Celtics,BOS,Boston,26,110.4,113.8
728,22401206,1610612761,Raptors,TOR,Toronto,240.000000:00,102.4,103.0,110.6,112.9,...,104,1610612748,114,101,Heat,MIA,Miami,26,110.7,115.5
729,22401206,1610612748,Heat,MIA,Miami,240.000000:00,110.6,112.9,102.4,103.0,...,114,1610612761,104,101,Raptors,TOR,Toronto,23,114.1,111.1
730,22401207,1610612758,Kings,SAC,Sacramento,240.000000:00,112.4,113.3,110.3,111.2,...,111,1610612740,109,98,Pelicans,NOP,New Orleans,26,116.2,112.6
731,22401207,1610612740,Pelicans,NOP,New Orleans,240.000000:00,110.3,111.2,112.4,113.3,...,109,1610612758,111,98,Kings,SAC,Sacramento,26,106.4,117.8

In [11]:
dfarray = dfdata[["TEAM_CITY","GAME_NO","PTS","POSS","OPP_PTS","OPP_POSS"]]


dfarraygroup=dfarray.groupby(['TEAM_CITY'])[['TEAM_CITY',"GAME_NO","PTS","POSS","OPP_PTS","OPP_POSS"]].apply(lambda x: x.to_dict('records')).reset_index(name="TEAMS")
dfarraygroupz=dfarraygroup[["TEAMS"]]

In [12]:
dfarraygroupzjsonz= dfarraygroupz.to_json(orient="records")

In [13]:
parsedz = json.loads(dfarraygroupzjsonz)

In [14]:
dflg=dfdata[['GAME_NO','PTS','POSS']]

In [15]:
dflg=dflg.groupby("GAME_NO").sum().reset_index()

In [16]:
dflg

    GAME_NO   PTS  POSS
0         1  3409  3053
1         2  3404  3063
2         3  3384  3044
3         4  3428  2987
4         5  3396  3032
5         6  3416  3036
6         7  3378  2975
7         8  3372  2984
8         9  3354  2963
9        10  3428  3034
10       11  3333  3000
11       12  3373  2989
12       13  3348  3012
13       14  3460  3008
14       15  3408  2989
15       16  3264  3009
16       17  3474  3014
17       18  3397  2990
18       19  3307  2967
19       20  3389  3025
20       21  3399  3001
21       22  3451  3035
22       23  3032  2718
23       24  2655  2310
24       25  1676  1500
25       26   646   598
26       27   109    99

In [17]:
dflg['PTS']=dflg['PTS'].cumsum()
dflg['POSS']=dflg['POSS'].cumsum()

In [18]:
dflg=dflg.copy()

In [19]:
dflg['RTG']=(dflg['PTS']/dflg['POSS'])*100
dflg

    GAME_NO    PTS   POSS         RTG
0         1   3409   3053  111.660662
1         2   6813   6116  111.396337
2         3  10197   9160  111.320961
3         4  13625  12147  112.167613
4         5  17021  15179  112.135187
5         6  20437  18215  112.198737
6         7  23815  21190  112.387919
7         8  27187  24174  112.463804
8         9  30541  27137  112.543759
9        10  33969  30171  112.588247
10       11  37302  33171  112.453649
11       12  40675  36160  112.486173
12       13  44023  39172  112.383846
13       14  47483  42180  112.572309
14       15  50891  45169  112.667980
15       16  54155  48178  112.406077
16       17  57629  51192  112.574230
17       18  61026  54182  112.631501
18       19  64333  57149  112.570649
19       20  67722  60174  112.543623
20       21  71121  63175  112.577760
21       22  74572  66210  112.629512
22       23  77604  68928  112.587047
23       24  80259  71238  112.663185
24       25  81935  72738  112.644010
25       26  82581  73336  112.606360
26       27  82690  73435  112.602982

In [20]:


dfrankingdata=dfgamenum
dfrankingdata['STD_OFF_RATING']=(offptsvar/offposvar)*100
dfrankingdata['STD_OFF_RATING']=dfrankingdata['STD_OFF_RATING']

dfrankingdata['STD_DEF_RATING']=(defptsvar/defposvar)*100
dfrankingdata['STD_DEF_RATING']=dfrankingdata['STD_DEF_RATING']

dflastgame = dfrankingdata.sort_values('GAME_NO').groupby('TEAM_CITY').tail(1).reset_index(drop="True")

dfrank = dflastgame[["TEAM_CITY","STD_OFF_RATING","STD_DEF_RATING"]]

dfrank=dfrank.copy()
dfrank['DEF_RANKING'] = dfrank['STD_DEF_RATING'].rank().astype(int)
dfrank['OFF_RANKING'] = dfrank['STD_OFF_RATING'].rank(ascending=False).astype(int)

In [21]:
dfrankcols = dfrank[['TEAM_CITY','OFF_RANKING','DEF_RANKING']]
dfrankcols=dfrankcols.copy()
dfrankcols.sort_values(by='TEAM_CITY',inplace=True)

In [22]:
dfrankcols.set_index('TEAM_CITY', inplace=True)
dfrankjson=dfrankcols.to_json(orient="index")
dfrankparsed = json.loads(dfrankjson)

In [23]:
# import plotly.graph_objects as go
# import pandas as pd



# # Create the figure
# fig = go.Figure()

# # Add the line trace
# fig.add_trace(go.Scatter(
#     x=dfdataatl['GAME_NO'],
#     y=dfdataatl['STD_OFF_RATING'],
#     text=dfdataatl['STD_OFF_RATING'],
#     fillcolor="black",
#     marker=dict(
    
#     size=10,
#     line=dict(
#         color='black',
#         width=2)
#     ),


#     mode="lines+markers",  # Set the mode to 'lines' for a line graph
#     name='OFF RATING'  # Optional name for the trace
# ))

# fig.add_trace(go.Scatter(
#     x=dfdataatl['GAME_NO'],
#     y=dfdataatl['STD_DEF_RATING'],
#     text=dfdataatl['STD_DEF_RATING'],
#     mode="lines+markers",  # Set the mode to 'lines' for a line graph
#     name='DEF RATING',
#     fillcolor="black",
#     marker=dict(
    
#     size=10,
#     line=dict(
#         color='black',
#         width=2)
#     ),# Optional name for the trace
# ))

# fig.add_trace(go.Scatter(
#     x=dflg['GAME_NO'],
#     y=dflg['RTG'],
#     mode="lines+markers",  # Set the mode to 'lines' for a line graph
#     name='LEAGUE AVG. RATING',
#     fillcolor="black",
#     line=dict(
#         color='black',
#         width=2),
#     marker=dict(
    
#     size=10,
#     line=dict(
#         color='black',
#         width=2)
#     ),# Optional name for the trace
# ))

# # Update layout (optional)
# fig.update_layout(
#     title='Hawks Offensive and Defensive Rating Season to Date',
#     xaxis_title='Game Number',
#     yaxis_title='Rating',
#     title_x=0.5,
#     width=1300,
#     height=700,
    
# )

# # Show the plot
# fig.show()

In [24]:
dfdatajsoncols = dfdata[['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
                         'POSS', 'GAME_DATE', 'PTS', 'OPP_TEAM_ID', 
                         'OPP_PTS', 'OPP_POSS', 'OPP_TEAM_NAME', 'OPP_TEAM_ABBERVIATION',
                         'OPP_TEAM_CITY', 'GAME_NO', 'STD_OFF_RATING', 'STD_DEF_RATING']]

In [25]:
dfdatajsoncols=dfdatajsoncols.copy()

dfdatajsoncols['GAME_DATE'] = dfdatajsoncols['GAME_DATE'].astype(str)

In [26]:
dfdatajsoncols

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,POSS,GAME_DATE,PTS,OPP_TEAM_ID,OPP_PTS,OPP_POSS,OPP_TEAM_NAME,OPP_TEAM_ABBERVIATION,OPP_TEAM_CITY,GAME_NO,STD_OFF_RATING,STD_DEF_RATING
0,22400061,1610612752,Knicks,NYK,New York,91,2024-10-22,109,1610612738,132,91,Celtics,BOS,Boston,1,119.780220,145.054945
1,22400061,1610612738,Celtics,BOS,Boston,91,2024-10-22,132,1610612752,109,91,Knicks,NYK,New York,1,145.054945,119.780220
2,22400062,1610612747,Lakers,LAL,Los Angeles,95,2024-10-22,110,1610612750,103,94,Timberwolves,MIN,Minnesota,1,115.789474,109.574468
3,22400062,1610612750,Timberwolves,MIN,Minnesota,94,2024-10-22,103,1610612747,110,95,Lakers,LAL,Los Angeles,1,109.574468,115.789474
4,22400063,1610612754,Pacers,IND,Indiana,101,2024-10-23,115,1610612765,109,99,Pistons,DET,Detroit,1,113.861386,110.101010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,22401205,1610612765,Pistons,DET,Detroit,101,2024-12-12,99,1610612738,123,100,Celtics,BOS,Boston,26,110.374084,113.773148
728,22401206,1610612761,Raptors,TOR,Toronto,101,2024-12-12,104,1610612748,114,101,Heat,MIA,Miami,26,110.680350,115.477997
729,22401206,1610612748,Heat,MIA,Miami,101,2024-12-12,114,1610612761,104,101,Raptors,TOR,Toronto,23,114.090106,111.071745
730,22401207,1610612758,Kings,SAC,Sacramento,98,2024-12-12,111,1610612740,109,98,Pelicans,NOP,New Orleans,26,116.192308,112.648524
731,22401207,1610612740,Pelicans,NOP,New Orleans,98,2024-12-12,109,1610612758,111,98,Kings,SAC,Sacramento,26,106.425234,117.821012

In [27]:
#teamjson=dfdatajsoncols.groupby('TEAM_CITY').apply(lambda x:x[['GAME_NO','GAME_ID','TEAM_ABBREVIATION]].to_json(orient='records'),include_groups=False)

In [28]:

# Group by Country and State
# nested_json = {}

# for (head,b),group in dfdatajsoncols.groupby(['TEAM','TEAM_CITY']):
#     if head not in nested_json:
#         nested_json[head] = {}
#     nested_json[head][b]= group[cols].to_dict(orient='records')

# Pretty print the nested JSON

In [29]:
# import json

# # Define a custom function to create a nested structure


# def custom_nested_structure(row):
#     return {"TEAMS":{'TEAM_NAME': row['TEAM_NAME'], 'TEAM_ID': row['TEAM_ID'],'TEAM_CITY': row['TEAM_CITY'],
#                     "TEAM_GAME_STATS": [{"GAME_ID":row['GAME_ID'],"GAME_NO":row['GAME_NO'],
#                                          "OPP_TEAM_ID":row['OPP_TEAM_ID'],"OPP_TEAM_CITY":row['OPP_TEAM_CITY'],
#                                          "OPP_TEAM_NAME":row['OPP_TEAM_NAME'],
#                                          "PTS":row['PTS'],"POSS":row['POSS'], "OPP_PTS":row['OPP_PTS'],
#                                          "STD_OFF_RATING":row['STD_OFF_RATING'],"STD_DEF_RATING":row['STD_DEF_RATING']}]}}


# # Apply the custom function to each row of the DataFrame
# json_data_custom = dfdatajsoncols.apply(custom_nested_structure, axis=1).tolist()

# # Convert list of dictionaries to JSON
# json_output = json.dumps(json_data_custom)

# json_output

In [30]:
# flattened_data = [t["TEAMS"] for t in json_data_custom]

# # Create a DataFrame
# df = pd.DataFrame(flattened_data)

# # The final result with 'Person' as the key containing the array of all persons
# result = {'TEAMS': df.to_dict(orient='records')}

# # Output the final result

In [31]:
cols=['GAME_ID','POSS', 'GAME_DATE', 'PTS', 'OPP_TEAM_ID', 
                         'OPP_PTS', 'OPP_POSS', 'OPP_TEAM_NAME', 'OPP_TEAM_ABBERVIATION',
                         'OPP_TEAM_CITY', 'GAME_NO', 'STD_OFF_RATING', 'STD_DEF_RATING']

In [32]:
dfb=dfdatajsoncols.groupby(['TEAM_NAME','TEAM_ID','TEAM_CITY','TEAM_ABBREVIATION'])[cols].apply(lambda x: x.to_dict('records')).reset_index(name='GAME_INFO')

In [33]:
dfb

,TEAM_NAME,TEAM_ID,TEAM_CITY,TEAM_ABBREVIATION,GAME_INFO
0,76ers,1610612755,Philadelphia,PHI,"[{'GAME_ID': 22400066, 'POSS': 100, 'GAME_DATE..."
1,Bucks,1610612749,Milwaukee,MIL,"[{'GAME_ID': 22400066, 'POSS': 102, 'GAME_DATE..."
2,Bulls,1610612741,Chicago,CHI,"[{'GAME_ID': 22400069, 'POSS': 108, 'GAME_DATE..."
3,Cavaliers,1610612739,Cleveland,CLE,"[{'GAME_ID': 22400067, 'POSS': 101, 'GAME_DATE..."
4,Celtics,1610612738,Boston,BOS,"[{'GAME_ID': 22400061, 'POSS': 91, 'GAME_DATE'..."
5,Clippers,1610612746,LA,LAC,"[{'GAME_ID': 22400071, 'POSS': 113, 'GAME_DATE..."
6,Grizzlies,1610612763,Memphis,MEM,"[{'GAME_ID': 22400070, 'POSS': 105, 'GAME_DATE..."
7,Hawks,1610612737,Atlanta,ATL,"[{'GAME_ID': 22400064, 'POSS': 105, 'GAME_DATE..."
8,Heat,1610612748,Miami,MIA,"[{'GAME_ID': 22400065, 'POSS': 97, 'GAME_DATE'..."
9,Hornets,1610612766,Charlotte,CHA,"[{'GAME_ID': 22400068, 'POSS': 96, 'GAME_DATE'..."
10,Jazz,1610612762,Utah,UTA,"[{'GAME_ID': 22400070, 'POSS': 104, 'GAME_DATE..."
11,Kings,1610612758,Sacramento,SAC,"[{'GAME_ID': 22400076, 'POSS': 102, 'GAME_DATE..."
12,Knicks,1610612752,New York,NYK,"[{'GAME_ID': 22400061, 'POSS': 91, 'GAME_DATE'..."
13,Lakers,1610612747,Los Angeles,LAL,"[{'GAME_ID': 22400062, 'POSS': 95, 'GAME_DATE'..."
14,Magic,1610612753,Orlando,ORL,"[{'GAME_ID': 22400065, 'POSS': 98, 'GAME_DATE'..."
15,Mavericks,1610612742,Dallas,DAL,"[{'GAME_ID': 22400074, 'POSS': 104, 'GAME_DATE..."
16,Nets,1610612751,Brooklyn,BKN,"[{'GAME_ID': 22400064, 'POSS': 105, 'GAME_DATE..."
17,Nuggets,1610612743,Denver,DEN,"[{'GAME_ID': 22400075, 'POSS': 99, 'GAME_DATE'..."
18,Pacers,1610612754,Indiana,IND,"[{'GAME_ID': 22400063, 'POSS': 101, 'GAME_DATE..."
19,Pelicans,1610612740,New Orleans,NOP,"[{'GAME_ID': 22400069, 'POSS': 108, 'GAME_DATE..."
20,Pistons,1610612765,Detroit,DET,"[{'GAME_ID': 22400063, 'POSS': 99, 'GAME_DATE'..."
21,Raptors,1610612761,Toronto,TOR,"[{'GAME_ID': 22400067, 'POSS': 103, 'GAME_DATE..."
22,Rockets,1610612745,Houston,HOU,"[{'GAME_ID': 22400068, 'POSS': 96, 'GAME_DATE'..."
23,Spurs,1610612759,San Antonio,SAS,"[{'GAME_ID': 22400074, 'POSS': 105, 'GAME_DATE..."
24,Suns,1610612756,Phoenix,PHX,"[{'GAME_ID': 22400071, 'POSS': 113, 'GAME_DATE..."
25,Thunder,1610612760,Oklahoma City,OKC,"[{'GAME_ID': 22400075, 'POSS': 98, 'GAME_DATE'..."
26,Timberwolves,1610612750,Minnesota,MIN,"[{'GAME_ID': 22400062, 'POSS': 94, 'GAME_DATE'..."
27,Trail Blazers,1610612757,Portland,POR,"[{'GAME_ID': 22400072, 'POSS': 108, 'GAME_DATE..."
28,Warriors,1610612744,Golden State,GSW,"[{'GAME_ID': 22400072, 'POSS': 109, 'GAME_DATE..."
29,Wizards,1610612764,Washington,WAS,"[{'GAME_ID': 22400073, 'POSS': 103, 'GAME_DATE..."

In [34]:
dflg2= dflg[['GAME_NO','RTG']]

In [35]:
jsonlgavgdata=dflg2.to_json(orient="records")

In [36]:
dfb.set_index('TEAM_CITY', inplace=True)

In [37]:
jsondata=dfb.to_json(orient="index")

In [38]:
parsed = json.loads(jsondata)

In [39]:


parsedlgavg = json.loads(jsonlgavgdata)
parsedlgavg

[{'GAME_NO': 1, 'RTG': 111.6606616443},
 {'GAME_NO': 2, 'RTG': 111.3963374755},
 {'GAME_NO': 3, 'RTG': 111.3209606987},
 {'GAME_NO': 4, 'RTG': 112.1676134025},
 {'GAME_NO': 5, 'RTG': 112.1351867712},
 {'GAME_NO': 6, 'RTG': 112.1987373044},
 {'GAME_NO': 7, 'RTG': 112.3879188296},
 {'GAME_NO': 8, 'RTG': 112.463804087},
 {'GAME_NO': 9, 'RTG': 112.5437594428},
 {'GAME_NO': 10, 'RTG': 112.5882469921},
 {'GAME_NO': 11, 'RTG': 112.453649272},
 {'GAME_NO': 12, 'RTG': 112.4861725664},
 {'GAME_NO': 13, 'RTG': 112.383845604},
 {'GAME_NO': 14, 'RTG': 112.5723091513},
 {'GAME_NO': 15, 'RTG': 112.6679802519},
 {'GAME_NO': 16, 'RTG': 112.4060774627},
 {'GAME_NO': 17, 'RTG': 112.5742303485},
 {'GAME_NO': 18, 'RTG': 112.6315012366},
 {'GAME_NO': 19, 'RTG': 112.5706486553},
 {'GAME_NO': 20, 'RTG': 112.5436234919},
 {'GAME_NO': 21, 'RTG': 112.5777601899},
 {'GAME_NO': 22, 'RTG': 112.6295121583},
 {'GAME_NO': 23, 'RTG': 112.5870473538},
 {'GAME_NO': 24, 'RTG': 112.6631853786},
 {'GAME_NO': 25, 'RTG': 112.6440100085},
 {'GAME_NO': 26, 'RTG': 112.6063597687},
 {'GAME_NO': 27, 'RTG': 112.6029822292}]

In [40]:
combined = [parsedlgavg, parsed,parsedz,dfrankparsed]

In [41]:
# Needs name in front
with open('/home/krupesh/Documents/Javascript code/NBA_Code/nbadata.json', 'w', encoding='utf-8') as f:
    json.dump(combined, f, ensure_ascii=False)

In [42]:
combined_dict = [parsedlgavg, parsed,parsedz,dfrankparsed]

# Convert the combined dictionary back to JSON
combined_json = json.dumps(combined_dict)

In [43]:
# import pandas as pd
# import json
# df=pd.read_excel('/home/krupesh/Documents/testdoc.xlsx')
# out = df.groupby(['class_id','class'])[['code','id']].apply(lambda x: x.to_dict('records')).reset_index(name='codes')
# out